version: '3'

services:
  nginx:
    image: chrisnharvey/magiclamp-nginx:${MAGICLAMP_VERSION:-1.5}

    volumes:
      - ${PROJECTS_DIR:-./data/projects}:/projects:rw${VOLUME_FLAGS}
      - ./data/ca:/ca:rw${VOLUME_FLAGS}

    ports:
      - 80:80
      - 443:443

    networks:
      app_net:
        ipv4_address: 10.0.10.10

  postgres:
    image: chrisnharvey/magiclamp-postgres:${MAGICLAMP_VERSION:-1.5}

    volumes:
      - pg_data:/var/lib/postgresql/data/pgdata:rw${VOLUME_FLAGS}

    ports:
      - 5432:5432

    environment:
      - POSTGRES_HOST_AUTH_METHOD=trust

    networks:
      app_net:
        ipv4_address: 10.0.10.15

  pgadmin:
    image: chrisnharvey/magiclamp-pgadmin:${MAGICLAMP_VERSION:-1.5}

    networks:
      app_net:
        ipv4_address: 10.0.10.16

    volumes:
      - pgadmin_data:/var/lib/pgadmin:rw${VOLUME_FLAGS}

    environment:
      - "PGADMIN_DEFAULT_EMAIL=${PGADMIN_EMAIL:-magiclamp@magiclamp.app}"
      - "PGADMIN_DEFAULT_PASSWORD=${PGADMIN_PASSWORD:-magicLAMP}"

    dns: 10.0.10.2

    depends_on:
      - dns_internal

  mysql:
    image: chrisnharvey/magiclamp-mysql:${MAGICLAMP_VERSION:-1.5}

    volumes:
      - mysql_data:/var/lib/mysql:rw${VOLUME_FLAGS}

    command: --default-authentication-plugin=mysql_native_password

    environment:
      - MYSQL_ALLOW_EMPTY_PASSWORD=1

    ports:
      - 3306:3306

    networks:
      app_net:
        ipv4_address: 10.0.10.20

  phpmyadmin:
    image: chrisnharvey/magiclamp-phpmyadmin:${MAGICLAMP_VERSION:-1.5}

    networks:
      app_net:
        ipv4_address: 10.0.10.22

    environment:
      - PMA_HOST=10.0.10.20
      - PMA_USER=root
      - PMA_PASSWORD=
      - MYSQL_ROOT_PASSWORD=gg

  mailcatcher:
    image: chrisnharvey/magiclamp-mailcatcher:${MAGICLAMP_VERSION:-1.5}

    ports:
      - 1025:1025

    networks:
      app_net:
        ipv4_address: 10.0.10.25

  workspace:
    image: chrisnharvey/magiclamp-workspace:${MAGICLAMP_VERSION:-1.5}

    volumes:
      - ${PROJECTS_DIR:-./data/projects}:/projects:rw${VOLUME_FLAGS}
      - ${SSH_DIR:-./data/ssh}:/home/magicLAMP/.ssh:rw${VOLUME_FLAGS}
      - home_dir:/home/magicLAMP:rw${VOLUME_FLAGS}
      - /var/run/docker.sock:/var/run/docker.sock
      - .:/magicLAMP:rw${VOLUME_FLAGS}

    tty: true

    working_dir: /projects

    dns: 10.0.10.2

    depends_on:
      - dns_internal

    networks:
      app_net:
        ipv4_address: 10.0.10.5

  dns_internal:
    image: chrisnharvey/magiclamp-dns-internal:${MAGICLAMP_VERSION:-1.5}

    dns: ${DNS_RESOLVER:-1.1.1.1}

    networks:
      app_net:
        ipv4_address: 10.0.10.2

  dns:
    image: chrisnharvey/magiclamp-dns:${MAGICLAMP_VERSION:-1.5}

    ports:
      - 127.0.0.1:53:53/udp

    restart: unless-stopped

    dns: ${DNS_RESOLVER:-1.1.1.1}


  redis:
    image: chrisnharvey/magiclamp-redis:${MAGICLAMP_VERSION:-1.5}

    ports:
      - 6379:6379

    networks:
      app_net:
        ipv4_address: 10.0.10.21

  memcached:
    image: chrisnharvey/magiclamp-memcached:${MAGICLAMP_VERSION:-1.5}

    ports:
      - 11211:11211

    networks:
      app_net:
        ipv4_address: 10.0.10.11

  elasticsearch:
    image: chrisnharvey/magiclamp-elasticsearch:${MAGICLAMP_VERSION:-1.5}

    ports:
      - 9200:9200
      - 9300:9300

    environment:
      - discovery.type=single-node

    networks:
      app_net:
        ipv4_address: 10.0.10.92

  rabbitmq:
    image: chrisnharvey/magiclamp-rabbitmq:${MAGICLAMP_VERSION:-1.5}

    hostname: magiclamp-rabbitmq

    volumes:
      - rabbitmq_data:/var/lib/rabbitmq:rw${VOLUME_FLAGS}

    ports:
      - 5672:5672
      - 15672:15672

    environment:
      - RABBITMQ_DEFAULT_USER=${RABBITMQ_USERNAME:-magiclamp}
      - RABBITMQ_DEFAULT_PASS=${RABBITMQ_PASSWORD:-magicLAMP}

    networks:
      app_net:
        ipv4_address: 10.0.10.67

  s3:
    image: chrisnharvey/magiclamp-s3:${MAGICLAMP_VERSION:-1.5}

    ports:
      - 9000:9000

    volumes:
      - ${S3_DATA_DIR:-./data/s3}:/data:rw${VOLUME_FLAGS}

    environment:
      - MINIO_ACCESS_KEY=${S3_ACCESS_KEY:-magiclamp}
      - MINIO_SECRET_KEY=${S3_SECRET_KEY:-magiclamp}

    networks:
      app_net:
        ipv4_address: 10.0.10.68

  selenium_chrome:
    image: chrisnharvey/magiclamp-selenium-chrome:${MAGICLAMP_VERSION:-1.5}

    ports:
      - 4444:4444
      - 4449:5900

    volumes:
      - /dev/shm:/dev/shm:rw${VOLUME_FLAGS}

    networks:
      app_net:
        ipv4_address: 10.0.10.30

    dns: 10.0.10.2

    depends_on:
      - dns_internal

  selenium_firefox:
    image: chrisnharvey/magiclamp-selenium-firefox:${MAGICLAMP_VERSION:-1.5}

    ports:
      - 5555:4444
      - 5559:5900

    volumes:
      - /dev/shm:/dev/shm:rw${VOLUME_FLAGS}

    networks:
      app_net:
        ipv4_address: 10.0.10.31

    dns: 10.0.10.2

    depends_on:
      - dns_internal

  php56:
      image: chrisnharvey/magiclamp-php56:${MAGICLAMP_VERSION:-1.5}

      volumes:
        - ${PROJECTS_DIR:-./data/projects}:/projects:rw${VOLUME_FLAGS}

      working_dir: /projects

      user: ${USER_UID}:${USER_GID}

      networks:
        app_net:
          ipv4_address: 10.0.10.56

      dns: 10.0.10.2

      depends_on:
        - dns_internal

  php70:
      image: chrisnharvey/magiclamp-php70:${MAGICLAMP_VERSION:-1.5}

      volumes:
        - ${PROJECTS_DIR:-./data/projects}:/projects:rw${VOLUME_FLAGS}

      working_dir: /projects

      user: ${USER_UID}:${USER_GID}

      networks:
        app_net:
          ipv4_address: 10.0.10.70

      dns: 10.0.10.2

      depends_on:
        - dns_internal

  php71:
      image: chrisnharvey/magiclamp-php71:${MAGICLAMP_VERSION:-1.5}

      volumes:
        - ${PROJECTS_DIR:-./data/projects}:/projects:rw${VOLUME_FLAGS}

      working_dir: /projects

      user: ${USER_UID}:${USER_GID}

      networks:
        app_net:
          ipv4_address: 10.0.10.71

      dns: 10.0.10.2

      depends_on:
        - dns_internal

  php72:
      image: chrisnharvey/magiclamp-php72:${MAGICLAMP_VERSION:-1.5}

      volumes:
        - ${PROJECTS_DIR:-./data/projects}:/projects:rw${VOLUME_FLAGS}

      working_dir: /projects

      user: ${USER_UID}:${USER_GID}

      networks:
        app_net:
          ipv4_address: 10.0.10.72

      dns: 10.0.10.2

      depends_on:
        - dns_internal

  php73:
      image: chrisnharvey/magiclamp-php73:${MAGICLAMP_VERSION:-1.5}

      volumes:
        - ${PROJECTS_DIR:-./data/projects}:/projects:rw${VOLUME_FLAGS}

      working_dir: /projects

      user: ${USER_UID}:${USER_GID}

      networks:
        app_net:
          ipv4_address: 10.0.10.73

      dns: 10.0.10.2

      depends_on:
        - dns_internal

  php74:
      image: chrisnharvey/magiclamp-php74:${MAGICLAMP_VERSION:-1.5}

      volumes:
        - ${PROJECTS_DIR:-./data/projects}:/projects:rw${VOLUME_FLAGS}

      working_dir: /projects

      user: ${USER_UID}:${USER_GID}

      networks:
        app_net:
          ipv4_address: 10.0.10.74

      dns: 10.0.10.2

      depends_on:
        - dns_internal

  php80:
      image: chrisnharvey/magiclamp-php80:${MAGICLAMP_VERSION:-1.5}

      volumes:
        - ${PROJECTS_DIR:-./data/projects}:/projects:rw${VOLUME_FLAGS}

      working_dir: /projects

      user: ${USER_UID}:${USER_GID}

      networks:
        app_net:
          ipv4_address: 10.0.10.80

      dns: 10.0.10.2

      depends_on:
        - dns_internal

networks:
  app_net:
    driver: bridge

    driver_opts:
      com.docker.network.enable_ipv6: "false"
    ipam:
      config:
        - subnet: 10.0.10.0/24

volumes:
  mysql_data:

  pgadmin_data:

  rabbitmq_data:

  home_dir:

  pg_data:
